html {
    padding: 0;
}

.main_screen {
    margin: 0;
    height: 100vh;
    background-image: url('/public/img/background_login.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_toast {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background-color: #f5f5f5;
    margin: 30px;
}

.login_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_content_item {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    margin: 10px 0;
}

.login_content_item_name {
    padding-left: 10px;
    margin: 5px 0;
}

h3 {
    margin: 0;
}

.login_content_item_input {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 0;
    background-color: rgb(224, 224, 224);
    border: 2px solid rgba(85, 85, 85, 0.2);
}

.login_content_item_input:focus {
    outline: none;
}

.login_Submit {
    padding: 10px;
    background: black;
    border-radius: 10px;
    text-align: center;
    margin: 10px 20px ;
    color: white;
}